
	<!-- footer -->
	<section class="footer">
		<h4>About Us</h4>
		<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum, <br>excepteur sint occaecat cupidatat non proident.</p>
		<div class="icons">
			<i class="fab fa-facebook"></i>
			<i class="fab fa-twitter"></i>
			<i class="fab fa-instagram"></i>
			<i class="fab fa-linkedin"></i>
		</div>
		<p>Made with <i class="fas fa-heart"></i> by DCME 4th sem (2019-2022) Students</p>
	</section>
	<script src="menu.js"></script>
</body>
</html>