<%- include (`partials/header`) %>

<%- include (`partials/subHeaderImg`) %>

<section class="sub-header"> 
    <%- include (`partials/navBar`) %>
    <h1>ABOUT US</h1>
</section>

<section class="about-us">
		<div class="row">
			<div class="about-col">
				<h1>Best Polytechnic College in Srikakulam</h1>
				<p>
					Government Polytechnic, Srikakulam was established in the year 1961.
					The institution was initially started with three Engineering Diploma Courses namely Civil, 
					Electrical & Electronics and Mechanical Engineering.
					After few years in the year 1975 a non-Engineering DCCP Course was added to its Courses.
					Again in the year 2008 Diploma in Computer Engineering was also credited to the list.
					Presently it offers  five Diploma Programmes of three years duration with annual intake 
					of 60 for each programme for each year.
					<br>
					The total Land area alloted to this Institution is 16 acres. 
					The Institute has its infrastructural facilities like Classrooms, 
					laboratories, workshop, play ground, own drinking water facility etc., 
					and hostel for boys and girls and compound wall.
				</p>
					<a href="/" class="hero-btn red-btn">EXPLORE NOW</a>
			</div>
			<div class="about-col">
				<img src="images/college_photos/new_college.jpeg" alt="new-college">
			</div>
		</div>
	</section>

<%- include (`partials/footer`) %>